/system
/image
/.idea
/catalog/language
/catalog/view/javascript
/catalog/view/theme/default/image
/admin/language
/admin/view/image
!main.js
/admin/view/javascript
/.htaccess
/config.php
/index.php
/php.ini
/robots.txt
/admin/php.ini
/admin/config.php
/admin/index.php
