
/image
/.idea
/catalog/language
/catalog/view/javascript
/catalog/view/theme/default/image
/admin/language
/admin/view/image
!main.js
/admin/view/javascript
yes
yes.pub
config
index
/admin/config.php
/admin/index.php
